<head>

  <title>{{ $.Site.Title }}</title>

  <!-- META DATA -->
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">

  <!-- CSS Global Compulsory -->
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/style.css" />

  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="/css/vegas.min.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/animate.min.css">

  <!-- FONTS -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,800italic,400,300,700,800&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

  <!-- JS -->
  <script type="text/javascript" src="/js/modernizr.js"></script>

  <!-- FAVICONS -->
  <link rel="shortcut icon" href="/favicon.png">

</head>

